.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    background-color:darkslateblue;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    

    
}
.child_parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    padding: 0.5rem;
}
.price{
    background-color:crimson;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid blue;
    font-size: 1.5rem;
}
